# Node modules
server/node_modules/
client/node_modules/

# FFmpeg
server/ffmpeg/

# Captured images
server/captures/

# Environment files
.env

# Logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db
client/package-lock.json
server/package-lock.json
